.leftSideAnim {
    left: 50%;
    opacity: 1;
    visibility: visible;
}

.rightSideAnim {
    left: 50%;
    opacity: 1;
    visibility: visible;
}

.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    max-width: 1320px;
    margin: 0 auto;
    background-color: #fff;
}

.section2-leftSideAnim {
    left: 50%;
    opacity: 1;
    visibility: visible;
}

.section2-rightSideAnim {
    left: 50%;
    opacity: 1;
    visibility: visible;
}

.item-appearance {
    opacity: 1;
    visibility: visible;
}

.itemUp-appearance {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}

.itemSideLeft {
    opacity: 1;
    visibility: visible;
    right: 0;
}

.itemSideRight {
    opacity: 1;
    visibility: visible;
    left: 0;
}
