.center-block {
    background-color: #fff;
    width: 50%;
    height: auto;
    padding: 50px;
    border-radius: 15px;
    border: 2px solid #000;
    box-shadow: 0px 0px 7px 20px rgba(0, 0, 0, 0.05);
    margin: 200px auto;
}

.form-control {
    margin-bottom: 35px;
}

.danger {
    border: 2px solid #d63031
}

input[name='email'] {
    margin-top: 35px;
}
